body {
    background-size: 100%;
}

h1 {
    font-family: 'Times New Roman';
    color: #b40000;
    font-size: 500%;
}
h2 {
    font-family: 'Times New Roman';
    color: #b40000;
    font-size: 200%;
}
#nav {
    float: right;
}
#home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 2px solid #555;
}

#button a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
#button {
    text-align: center;
    border-bottom: 1px solid #555;
}

#button:last-child {
    border-bottom: none;
}

#button a.active {
    background-color: #4caf50;
    color: white;
}

#button a:hover:not(.active) {
    background-color: #555;
    color: white;
}
ul.email {
    font-family: 'Times New Roman';
    color: red;
    font-size: 125%;
    padding: 10px;
    width: 700px;
    border: 9px solid #0088dd;
    margin: 10px auto 10px auto;
    text-align: left;
    background-color: black;
}
ul.number {
    font-family: 'Times New Roman';
    color: red;
    font-size: 125%;
    padding: 10px;
    width: 700px;
    border: 9px solid #0088dd;
    margin: 10px auto 10px auto;
    text-align: left;
    background-color: black;
}
