body {
    background-image: url('bg.jpg');
    background-size: 100%;
}

h1 {
    font-family: 'Times New Roman';
    color: #ff0000;
    font-size: 500%;
}

h2 {
    font-family: 'Times New Roman';
    color: #ff0000;
    font-size: 200%;
}

b.base {
    color: gold;
}

#home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    border: 2px solid #555;
}
